h3 {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.overlay {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 92px 50px 75px 50px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    word-wrap: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

a.header-link_active {
    text-decoration: none;
}

.header__logo {
    justify-items: center;
    display: grid;
    width: 148px;
    height: 105px;
}

.header__address {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    width: 240px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.cover {
    position: relative;
    z-index: 1;
    background-image: url(../images/cover.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 75px 0 180px 0;
}

.cover__title {
    display: grid;
    position: relative;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 165px 50px 147px 50px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover-description {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .cover__description-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
    padding: 10px 78px 50px 0;
    text-align: end;
    position: relative;
  }

  .bet-button {
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 50px 50px 0;
    padding: 12px 32px;
    position: relative;
  }

  .lots {
    margin: 0 50px 181px 50px;
    min-height: 579px;
    min-width: 1340px;
  }

  .lots__heading {
    padding: 0 0 27px 40px;
  }

  .lots__card-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .lots__card-list-item {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex: 33%;
    text-align: inherit;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    min-height: 450px;
    margin-bottom: 30px;
    position: relative;
    z-index:1;
  }

  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 450px;
    min-width: 430px;
  }

  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
  }

a.card_link {
    text-decoration: none;
}

.card__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

  .card__title {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;
  }

  .card__text {
    color: #fff;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
  }

  .lots__look-more-link {
    margin: 30px 0 0 40px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
  }

  .about {
    margin: 0 50px 180px 50px;
  }

  .about__column {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 25px;
  }

  .about__content {
    flex-basis: 66%;
  }

  .about__title {
    padding: 100px 0 101px 0;
  }

  .about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
    margin: 0 95px;
  }

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: 64px 46px;
}

.about__text {
    padding-bottom: 25px;
}

.about__text:nth-last-of-type(2) {
    margin-top: auto;
}

.about__text:nth-last-of-type(1) {
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

.footer__menu {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__address {
    text-align: start;
    align-items: center;
    width: 240px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

a.footer-link_active {
    text-decoration: none;
}


.footer__links-list {
    list-style-type: none;
}

.footer__social-list {
    list-style-type: none;
    display: inline-flex;
    list-style-type: none;
    gap: 20px;
    width: 240px;
    height: 48px;
}

.footer__social-icon {
    display: flex;
    flex-direction: column;
}
